<div
  class="bg-cyan-950 text-white flex flex-col justify-center items-center space-y-2 py-10 text-xl"
>
  <div class="flex justify-center space-x-10">
    <fa-icon style="color: white" [icon]="['fab', 'facebook']" class="scale-150"></fa-icon>
    <fa-icon style="color: white" [icon]="['fab', 'x-twitter']" class="scale-150"></fa-icon>
    <fa-icon style="color: white" [icon]="['fab', 'instagram']" class="scale-150"></fa-icon>
  </div>
  <img src="../../assets/VigenLogo.png" class="h-16" alt="" />
  <div class="text-center">
    <div class="flex justify-center text-center space-x-3 md:ms-8">
      <a href="#">Información Legal</a>
      <a href="#">Política de Privacidad</a>
    </div>
    <p>&copy; {{ date }} Vigen</p>
  </div>
</div>
