<div class="bg-cyan-50 flex flex-col justify-center p-10 mt-20">
  <div class="flex justify-center text-3xl font-semibold mb-10">
    <h2 class="text-cyan-950">Editar Información</h2>
  </div>
  <div
    class="flex flex-col md:flex-row space-y-5 md:space-y-0 justify-center md:space-x-10"
  >
    <div class="bg-cyan-950 flex rounded-xl justify-center p-4">
      <div
        class="bg-black bg-opacity-50 flex flex-col rounded-xl text-white justify-center px-10 py-12 space-y-5"
      >
        <div>
          <p class="text-center text-xs font-semibold lg:text-sm">
            Información Básica
          </p>
        </div>
        <form
          action=""
          class="flex flex-col items-center justify-center space-y-2"
        >
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="text"
              placeholder="NIT"
            />
          </div>
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="text"
              placeholder="Nombre"
            />
          </div>
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="text"
              placeholder="Celular"
            />
          </div>
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="text"
              placeholder="Teléfono"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="bg-cyan-950 flex rounded-xl justify-center p-4">
      <div
        class="bg-black bg-opacity-50 flex flex-col rounded-xl text-white justify-center px-10 py-12 space-y-5"
      >
        <div>
          <p class="text-center text-xs font-semibold lg:text-sm">
            Cambiar Contraseña
          </p>
        </div>
        <form
          action=""
          class="flex flex-col items-center justify-center space-y-2"
        >
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="password"
              placeholder="Contraseña Actual"
            />
          </div>
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="password"
              placeholder="Nueva Contraseña"
            />
          </div>
          <div class="w-full lg:w-80">
            <input
              class="focus:shadow-outline mb-3 w-full appearance-none rounded-md border border-red-500 px-3 py-1 leading-tight text-gray-700 shadow focus:outline-none"
              type="password"
              placeholder="Confirmar Contraseña"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-10">
    <button
      class="bg-cyan-950 rounded-md px-5 py-2 text-xs font-medium tracking-widest text-white"
    >
      Guardar Infomación
    </button>
  </div>
</div>
