<div class="bg-cyan-50 mt-20 px-5 md:px-28 py-10 text-cyan-950">
  <div class="space-y-5">
    <h2 class="text-3xl font-semibold">Encuesta</h2>
    <p>
      Le invitamos a responder las siguientes preguntas relacionadas al eje de
      la violencia. La información recopilada mediante este instrumento es de
      carácter confidencial y tiene fines netamente académicos.
    </p>
  </div>
  <form class="flex flex-col md:flex-row justify-center md:justify-around space-y-10 md:space-y-0 mt-5">
    <div class="bg-indigo-100 ps-2 pe-10 py-1 rounded-xl w-96 md:w-[32rem]">
      <h3 class="text-2xl mb-2">Datos Personales</h3>
      <hr class="border-cyan-950 md:w-[29rem]" />
      <div class="my-2 space-y-1">
        <h4 class="text-xl">Género</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Hombre</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Mujer</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>No Binario</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="my-2 space-y-1">
        <h4 class="text-xl">Orientación Sexual</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Heterosexual</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Homosexual</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Bisexual</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Asexual</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Pansexual</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="my-2 space-y-1">
        <h4 class="text-xl">Edad</h4>
        <div class="flex space-x-2">
          <input type="number" class="w-full" />
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="my-2 space-y-1">
        <h4 class="text-xl">Ciudad de Residencia</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Bogotá</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Madrid</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Mosquera</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Facatativá</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Otra</label>
          <input type="number" />
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">Sector donde Vive</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Rural</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Urbano</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">Nivel Educativo</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Básica Primaria</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Básica Secundaria</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Media</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Técnica y/o Tecnóloga</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Pregrado o Superior</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">Estado Civil</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Soltero/a</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Casado/a</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Viudo/a</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Unión Libre</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">Autorreconocimiento Étnico</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Comunidades Negras-Afrocolombianas</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Pueblos Indígenas</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Pueblo Rom o Gitano</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Raizales y Palenqueras-NARP</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Ninguna</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Otra</label>
          <input type="text" />
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">¿Cuenta con Ingresos Propios?</h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Sí</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>No</label>
        </div>
      </div>
      <hr class="border-cyan-950 w-[md:29rem]" />
      <div class="mt-2 space-y-1">
        <h4 class="text-xl">
          ¿Cuál es su Clasificación Laboral en este Momento?
        </h4>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Empleado/a particular (Sector privado)</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Empleado/a del gobierno (Sector público)</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Empleado/a doméstico</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Trabajador/a por cuenta propia (Independiente)</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Empleador/a</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Trabajador/a familiar sin remuneración</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Estudiante</label>
        </div>
        <div class="flex space-x-2">
          <input type="radio" />
          <label>Desempleado/a</label>
        </div>
      </div>
    </div>
    <div>
      <div
        class="bg-indigo-100 ps-2 pe-10 py-1 rounded-xl w-96 md:w-[32rem] h-[58rem] md:h-[51rem]"
      >
        <h3 class="text-2xl mb-2">Sección de Preguntas</h3>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <p class="my-2">
          ¿Su pareja, familiar u otra persona cercana a usted ha realizado
          alguna de las siguientes acciones?
        </p>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">
            ¿Ha observado a esa persona golpear o patear la pared o algún
            mueble?
          </h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">¿Le han amenazado con golpearle?</h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">
            ¿Se ha sentido presionado a tener relaciones sexuales?
          </h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">¿Le han destruido alguna de sus pertenencias?</h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">
            ¿Le han sacudido, zarandeado, jaloneado o empujado?
          </h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
        <hr class="border-cyan-950 w-[md:29rem]" />
        <div class="my-2 space-y-1">
          <h4 class="text-xl">
            ¿Se ha sentido agredido física o psicológicamente?
          </h4>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>Sí</label>
          </div>
          <div class="flex space-x-2">
            <input type="radio" />
            <label>No</label>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-10">
        <button
          class="bg-cyan-950 rounded-md px-5 py-2 text-xs font-medium tracking-widest text-white"
        >
          Terminar Encuesta
        </button>
      </div>
    </div>
  </form>
</div>
