<div class="mt-20">
    <div class="box-decoration-slice bg-indigo-100 m-5 rounded-md flex justify-center flex-col items-center pt-4">
        <h1 class="text-cyan-950 text-center text-3xl font-semibold w-96">CÓMO SABER SI ESTAS SUFRIENDO VIOLENCIA</h1>
        <div class="flex md:space-x-36 flex-col md:flex-row">
            <div class="flex flex-col justify-center items-center rounded-md shadow-lg bg-indigo-100 px-10 mt-5 mb-5">
                <img class="w-24" src="../../assets/psicologica.png" alt="">
                <h2 class="text-cyan-600 text-center font-semibold">PSICOLÓGICA</h2>
                <ul class="list-disc text-center">
                    <li>Te insulta</li>
                    <li>Te humilla</li>
                    <li>Te ignora</li>
                </ul>
            </div>
            <div class="flex flex-col justify-center items-center rounded-md shadow-lg bg-indigo-100 px-10 mt-5 mb-5">
                <h2 class="text-cyan-600 text-center font-semibold">FÍSICA</h2>
                <ul class="list-disc text-center">
                    <li>Te jalonea</li>
                    <li >Te pellizca</li>
                </ul>
                <img class="w-24" src="../../assets/fisica.png" alt="">
            </div>
            <div class="flex flex-col justify-center items-center rounded-md shadow-lg bg-indigo-100 px-5 mt-5 mb-5">
                <img class="w-36" src="../../assets/patrimonial.png" alt="">
                <h2 class="text-cyan-600 text-center font-semibold">PATRIMONIAL</h2>
                <ul class="list-disc text-center">
                    <li class="w-28">Destruye tus pertenencias</li>
                    <li class="w-28">Saca tus pertenencias de casa</li>
                </ul>
            </div>
        </div>
        <div class="flex md:space-x-36 flex-col md:flex-row">
            <div class="flex flex-col justify-center items-center rounded-md shadow-lg bg-indigo-100 px-10 mt-5 mb-5">
                <h2 class="text-cyan-600 text-center font-semibold">ECONÓMICA</h2>
                <ul class="list-disc text-center">
                    <li class="w-28">Controla tus gastos</li>
                    <li class="w-28">Te obliga a entregar tu salario</li>
                </ul>
                <img class="w-28" src="../../assets/economica.png" alt="">
            </div>
            <div class="flex flex-col justify-center items-center rounded-md shadow-lg bg-indigo-100 px-10 mt-5 mb-5">
                <img class="w-28" src="../../assets/sexual.png" alt="">
                <h2 class="text-cyan-600 text-center font-semibold">SEXUAL</h2>
                <ul class="list-disc text-center">
                    <li class="w-28">Te hace sentir agredida</li>
                    <li class="w-28">Te obliga a tener relaciones</li>
                </ul>
            </div>
        </div>
    </div>
</div>