<div class="bg-cyan-50 flex flex-col justify-center text-cyan-950 mt-20">
    <div class="md:grid md:grid-cols-2 md:gap-20 md:px-32 px-8">
        <div class="flex flex-col justify-center md:w-96">
            <h1 class="font-semibold text-3xl text-center mb-8 md:text-5xl">Usuario Común</h1>
            <p>La lucha contra la violencia de género es algo que nos incumbe a todos, tanto a hombres como a mujeres, empieza a realizar un cambio y generar un cambio en nuestra sociedad, haz parte de Vigen.</p>
            <div class="flex flex-col justify-center items-center mb-3 md:mb-0">
                <button routerLink="/registroUsuarios" class="bg-cyan-950 rounded-md border text-white border-cyan-950 mt-4 px-5 py-1">Registrarse</button>
            </div>
        </div>
        <div>
            <img src="../../assets/UsuarioRol.png" alt="" class="">
        </div>
    </div>
    <section class="bg-indigo-100">
       <div class="px-8 md:grid md:grid-cols-2 md:gap-20 md:px-28 mt-6 md:mt">
        <div class="flex flex-col justify-center md:w-96 md:order-last">
            <h1 class="font-semibold text-3xl mb-8 text-center md:text-5xl">Organización</h1>
            <p>Entidad encargada de atención y control de casos de violencia de género, intrafamiliar, adulto mayor e infantil.</p>
            <div class="flex flex-col justify-center items-center mb-3 md:mb-0">
                <button routerLink="/registroOrganizacion" class="bg-cyan-950 rounded-md border text-white border-cyan-950 mt-4 px-5 py-1">Registrarse</button>
            </div>
        </div>
        <div>
            <img src="../../assets/OrgRol.webp" alt="" class="md:scale-90">
        </div>
       </div> 
    </section>
</div>
